@import "_partials/common.css";
@import "_partials/debug.css";
@import "_partials/typho.css";

/*
?---------
!PALETTE
?---------
*/
:root {
  --main-white: #f8f9fa;
  --icon-button-grey: #5b5858;
  --blue-600: #051e34;
  --blue-500: #12293e;
  --blue-300: #165bba;
  --blue-200: #1b72e8;
}

/*
?---------
!HEADER
?---------
*/
header {
  background-color: var(--main-white);
}
header i {
  color: var(--icon-button-grey);
}
/*
?---------
!MAIN
?---------
*/
/* !nav */
main .-lc-left-menu {
  background-image: url("../img/sidebar-bg.png");
  background-color: var(--blue-600);
}

/* !dashboard */
main .-lc-dashboard .-lc-dashboard-top {
  background-color: var(--blue-200);
}
main .-lc-dashboard .-lc-dashboard-top .-lc-col-content .badge {
  background-color: var(--blue-300);
}
