/*
?---------
!COMMON
?---------
*/
body {
  height: 100vh;
  padding-top: 70px;
}
/*
?---------
!HEADER
?---------
*/
header {
  height: 70px;
}
/*
?---------
!MAIN
?---------
*/
main {
  height: 100%;
}
main .-lc-left-menu,
main .-lc-dashboard .-lc-dashboard-top {
  color: var(--main-white);
}
