/*
?---------
!COMMON
?---------
*/
body {
  height: 100vh;
  padding-top: 70px;
}
i {
  color: var(--icon-button-grey);
}
/*
?---------
!HEADER
?---------
*/
header {
  height: 70px;
}
/*
?---------
!MAIN
?---------
*/
main {
  height: 100%;
}
