/*
?---------
!HEADER
?---------
*/
.debug header {
  background-color: red;
}
/*
?---------
!MAIN
?---------
*/
.debug nav {
  background-color: blue;
  width: 100px;
}
.debug .-lc-dashboard {
  background-color: saddlebrown;
  line-height: 1000px;
}
